.solo-test {
  alt: "Solo";
}

.multi-test1 
.multi-test2 {
  alt: "multi";
}

.multi-test1 
{
  alt: "multi-test1 cascade";
}

.solo-test > * {
  alt: "child_selector";
}

p.element-test1 div.element-test2 {
  alt: "tag class";
}

html {
  alt: "tag selectors sould be ignored";
}

